---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/organization
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - <API KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - RB_GC_GUARD
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"dev-accounts@helium.co","timezone":"UTC"},"relationships":{"user":{"data":[{"id":"tom@helium.com","type":"user"},{"id":"dev-accounts@helium.co","type":"user"}]},"metadata":{"data":{"id":"dev-accounts@helium.co","type":"metadata"}}},"id":"dev-accounts@helium.co","meta":{"created":"2015-09-10T20:50:18.183896Z","updated":"2015-09-10T20:50:18.183896Z"},"type":"organization"}}'
      effective_url: https://api.helium.com/v1/organization
  recorded_at: Fri, 05 Aug 2016 19:26:56 GMT
recorded_with: VCR 3.0.3
