---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Sensor"},"type":"sensor"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - never breaks eye contact
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/5976ec41-ddf9-404e-bdbe-9945a5ee22f3"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Sensor"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"5976ec41-ddf9-404e-bdbe-9945a5ee22f3","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"5976ec41-ddf9-404e-bdbe-9945a5ee22f3","meta":{"card":null,"mac":null,"created":"2017-01-11T18:36:56.566736Z","last-seen":null,"ports":[],"updated":"2017-01-11T18:36:56.566736Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Wed, 11 Jan 2017 18:36:56 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/5976ec41-ddf9-404e-bdbe-9945a5ee22f3/metadata
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{},"id":"5976ec41-ddf9-404e-bdbe-9945a5ee22f3","type":"metadata"}}'
      effective_url: https://api.helium.com/v1/sensor/5976ec41-ddf9-404e-bdbe-9945a5ee22f3/metadata
  recorded_at: Wed, 11 Jan 2017 18:36:56 GMT
- request:
    method: patch
    uri: https://api.helium.com/v1/sensor/5976ec41-ddf9-404e-bdbe-9945a5ee22f3/metadata
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"departments":["facilities"]},"id":"5976ec41-ddf9-404e-bdbe-9945a5ee22f3","type":"metadata"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"departments":["facilities"]},"id":"5976ec41-ddf9-404e-bdbe-9945a5ee22f3","type":"metadata"}}'
      effective_url: https://api.helium.com/v1/sensor/5976ec41-ddf9-404e-bdbe-9945a5ee22f3/metadata
  recorded_at: Wed, 11 Jan 2017 18:36:56 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/sensor?include=label&filter[metadata]={%22departments%22:[%22facilities%22]}
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - evacuation not done in time
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04[...]
- request:
    method: get
    uri: https://api.helium.com/v1/sensor?include=label&filter[metadata]={%22departments%22:[%22facilities%22,%22it%22]}
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - never breaks eye contact
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c[...]
- request:
    method: get
    uri: https://api.helium.com/v1/sensor?include=label&filter[metadata]={%22departments%22:[%22facilities%22,%22it%22,%22engineering%22]}
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"a test sensor"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"07f17594-d3f1-4a5b-9430-b6008d13f6a6","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"07f17594-d3f1-4a5b-9430-b6008d13f6a6","meta":{"card":null,"mac":null,"created":"2017-01-11T18:36:56.889074Z","last-seen":null,"ports":[],"updated":"2017-01-11T18:36:56.889074Z"},"type":"sensor"}],"included":[]}'
      effective_url: https://api.helium.com/v1/sensor?include=label&filter[metadata]={%22departments%22:[%22facilities%22,%22it%22,%22engineering%22]}
  recorded_at: Wed, 11 Jan 2017 18:36:57 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/5976ec41-ddf9-404e-bdbe-9945a5ee22f3
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - javascript doesn't have integers
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/5976ec41-ddf9-404e-bdbe-9945a5ee22f3
  recorded_at: Wed, 11 Jan 2017 18:36:57 GMT
[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/07f17594-d3f1-4a5b-9430-b6008d13f6a6
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - evacuation not done in time
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/07f17594-d3f1-4a5b-9430-b6008d13f6a6
  recorded_at: Wed, 11 Jan 2017 18:36:57 GMT
recorded_with: VCR 3.0.3
