---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/sensor?include=label
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"weather-94945"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"11b5a9e9-e098-4d57-9c10-ddb08f81ecfa","type":"metadata"}},"element":{"data":null},"label":{"data":[{"id":"6bfd6adc-14e4-430b-877e-f063bcedcf88","type":"label"}]}},"id":"11b5a9e9-e098-4d57-9c10-ddb08f81ecfa","meta":{"card":null,"mac":null,"created":"2016-12-14T22:13:48.883309Z","last-seen":"2017-01-06T00:10:04.845493Z","ports":["t","h","p"],"updated":"2016-12-14T22:13:48.883309Z"},"type":"sensor"},{"attributes":{"name":"weather-94103"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"3ad9123f-0f93-48cb-a67c-205d448f56df","type":"metadata"}},"element":{"data":null},"label":{"data":[{"id":"6bfd6adc-14e4-430b-877e-f063bcedcf88","type":"label"}]}},"id":"3ad9123f-0f93-48cb-a67c-205d448f56df","meta":{"card":null,"mac":null,"created":"2016-11-19T19:27:17.849498Z","last-seen":"2017-01-06T00:10:04.860153Z","ports":["t","h[...]
