---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Sensor"},"type":"sensor"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/4eef232e-3ac8-4de4-8465-f4b50ec871cd"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Sensor"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"4eef232e-3ac8-4de4-8465-f4b50ec871cd","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"4eef232e-3ac8-4de4-8465-f4b50ec871cd","meta":{"card":null,"mac":null,"created":"2017-01-06T00:03:30.720528Z","last-seen":null,"ports":[],"updated":"2017-01-06T00:03:30.720528Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Fri, 06 Jan 2017 00:03:30 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/4eef232e-3ac8-4de4-8465-f4b50ec871cd/metadata
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - javascript doesn't have integers
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{},"id":"4eef232e-3ac8-4de4-8465-f4b50ec871cd","type":"metadata"}}'
      effective_url: https://api.helium.com/v1/sensor/4eef232e-3ac8-4de4-8465-f4b50ec871cd/metadata
  recorded_at: Fri, 06 Jan 2017 00:03:30 GMT
- request:
    method: patch
    uri: https://api.helium.com/v1/sensor/4eef232e-3ac8-4de4-8465-f4b50ec871cd/metadata
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"location":"Building B"},"id":"4eef232e-3ac8-4de4-8465-f4b50ec871cd","type":"metadata"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"location":"Building B"},"id":"4eef232e-3ac8-4de4-8465-f4b50ec871cd","type":"metadata"}}'
      effective_url: https://api.helium.com/v1/sensor/4eef232e-3ac8-4de4-8465-f4b50ec871cd/metadata
  recorded_at: Fri, 06 Jan 2017 00:03:30 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/4eef232e-3ac8-4de4-8465-f4b50ec871cd
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/4eef232e-3ac8-4de4-8465-f4b50ec871cd
  recorded_at: Fri, 06 Jan 2017 00:03:30 GMT
recorded_with: VCR 3.0.3
