---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/script
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"test.lua","contents":"LS0gVGVzdCBTY3JpcHQ="},"type":"script"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - "$300,000 worth of cows"
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/script/fd9330ca-a10e-4c82-87f3-c24ac468351c"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"test.lua"},"relationships":{"package":{"data":[]},"metadata":{"data":{"id":"fd9330ca-a10e-4c82-87f3-c24ac468351c","type":"metadata"}}},"id":"fd9330ca-a10e-4c82-87f3-c24ac468351c","meta":{"created":"2017-04-19T19:47:33.567677Z","digest":"106505101da9e8d279dc688ec1a2cda647debda8d0112553885add44ba039391"},"type":"script"}}'
      effective_url: https://api.helium.com/v1/script
  recorded_at: Wed, 19 Apr 2017 19:47:33 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/script/fd9330ca-a10e-4c82-87f3-c24ac468351c/content
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - evacuation not done in time
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "-- Test Script"
      effective_url: https://api.helium.com/v1/script/fd9330ca-a10e-4c82-87f3-c24ac468351c/content
  recorded_at: Wed, 19 Apr 2017 19:47:33 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/script/fd9330ca-a10e-4c82-87f3-c24ac468351c
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/script/fd9330ca-a10e-4c82-87f3-c24ac468351c
  recorded_at: Wed, 19 Apr 2017 19:47:33 GMT
recorded_with: VCR 3.0.3
