---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/device-configuration/605f7acd-ca93-42e1-8041-eff548db5116
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{},"relationships":{"device":{"data":{"id":"d89ed12c-c7bb-4205-a48a-9fe59c96c459","type":"element"}},"configuration":{"data":{"id":"b9dc998e-1926-42ad-a3e0-ba36eea55b45","type":"configuration"}}},"id":"605f7acd-ca93-42e1-8041-eff548db5116","meta":{"loaded":null,"created":"2016-11-09T21:37:31.377437Z"},"type":"device-configuration"}}'
      effective_url: https://api.helium.com/v1/device-configuration/605f7acd-ca93-42e1-8041-eff548db5116
  recorded_at: Mon, 21 Nov 2016 18:24:33 GMT
recorded_with: VCR 3.0.3
