---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/element
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - sharkfed
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Another Element"},"relationships":{"organization":{"data":{"id":"dev-accounts@helium.co","type":"organization"}},"sensor":{"data":[]}},"id":"19d493bc-7599-4b95-ac68-31e01d97c345","meta":{"mac":"6081f9fffe0000d3","created":"2015-08-17T14:20:31.632469Z","last-seen":null,"updated":"2016-08-19T23:09:43.415286Z"},"type":"element"},{"attributes":{"name":"SF
        Office"},"relationships":{"organization":{"data":{"id":"dev-accounts@helium.co","type":"organization"}},"sensor":{"data":[]}},"id":"1b686e82-bd4a-4aac-9d7b-9bdbe1e9a7de","meta":{"mac":"6081f9fffe00033f","created":"2015-08-12T23:19:34.175932Z","last-seen":null,"updated":"2015-08-12T23:19:34.174828Z"},"type":"element"},{"attributes":{"name":"SF
        Office"},"relationships":{"organization":{"data":{"id":"dev-acco[...]
