---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/element/6fa2f914-450e-447a-8aa3-0e277cda9690
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Marc Home"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"6fa2f914-450e-447a-8aa3-0e277cda9690","type":"metadata"}},"sensor":{"data":[]},"label":{"data":[{"id":"801891e3-551b-4e78-852f-bef5a2618d3d","type":"label"}]}},"id":"6fa2f914-450e-447a-8aa3-0e277cda9690","meta":{"connected":true,"mac":"6081f9fffe000b01","created":"2016-12-23T01:09:40.394896Z","sim":null,"last-seen":"2017-03-31T10:41:44.362772Z","device-type":"ap-e","updated":"2017-03-04T00:47:43.759442Z"},"type":"element"}}'
      effective_url: https://api.helium.com/v1/element/6fa2f914-450e-447a-8aa3-0e277cda9690
  recorded_at: Mon, 03 Apr 2017 21:06:07 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/element/6fa2f914-450e-447a-8aa3-0e277cda9690/label
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - "$300,000 worth of cows"
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"test"},"id":"801891e3-551b-4e78-852f-bef5a2618d3d","meta":{"created":"2017-03-08T21:05:06.251642Z","updated":"2017-03-08T21:05:06.251642Z"},"type":"label"}]}'
      effective_url: https://api.helium.com/v1/element/6fa2f914-450e-447a-8aa3-0e277cda9690/label
  recorded_at: Mon, 03 Apr 2017 21:06:07 GMT
recorded_with: VCR 3.0.3
