---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/element/2c59f726-5316-49a7-857a-33ae63b126a4
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - evacuation not done in time
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Element 2"},"relationships":{"metadata":{"data":{"id":"2c59f726-5316-49a7-857a-33ae63b126a4","type":"metadata"}},"sensor":{"data":[{"id":"47da7cef-f0c5-43fb-85e0-b4b23d3ddb05","type":"sensor"},{"id":"1daa7686-0c97-401a-8186-eb3344f0bf63","type":"sensor"},{"id":"ec247d87-4e17-418b-8236-cd7b138cde75","type":"sensor"}]}},"id":"2c59f726-5316-49a7-857a-33ae63b126a4","meta":{"mac":"6081f9fffe0002c9","created":"2016-06-29T22:55:40.512098Z","last-seen":"2016-10-11T10:28:56.686616Z","updated":"2016-06-29T22:55:40.512098Z"},"type":"element"}}'
      effective_url: https://api.helium.com/v1/element/2c59f726-5316-49a7-857a-33ae63b126a4
  recorded_at: Wed, 12 Oct 2016 21:52:26 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/element/2c59f726-5316-49a7-857a-33ae63b126a4/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"TC Suite"},"id":"47da7cef-f0c5-43fb-85e0-b4b23d3ddb05","meta":{"card":{"id":5},"mac":"6081f9fffe00068d","created":"2016-07-12T21:10:37.879131Z","last-seen":"2016-10-12T21:51:02.33652Z","ports":["_se","_b","b","m","l","p","h","t"],"updated":"2016-07-18T18:16:36.803118Z"},"type":"sensor"},{"attributes":{"name":"Main
        Lab"},"id":"1daa7686-0c97-401a-8186-eb3344f0bf63","meta":{"card":{"id":5},"mac":"6081f9fffe00063b","created":"2016-07-12T21:09:56.894341Z","last-seen":"2016-10-12T21:48:45.221913Z","ports":["_se","m","_b","b","p","h","t","l"],"updated":"2016-07-18T17:39:27.750782Z"},"type":"sensor"},{"attributes":{"name":"4
        Degree - Right Side"},"id":"ec247d87-4e17-418b-8236-cd7b138cde75","meta":{"card":{"id":2},"mac":"6081f9fffe00042a","created":"2016-07-12T21:08:42.548113Z","last-seen":"2016-10-12T21:51:02.355265Z","ports":["_se","_b","b","d","t"],"updated":"2016-07-18T18:37:42.617094Z"},"type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/element/2c59f726-5316-49a7-857a-33ae63b126a4/sensor
  recorded_at: Wed, 12 Oct 2016 21:52:26 GMT
recorded_with: VCR 3.0.3
