---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/script
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"script.lua","contents":"LS0gVGVzdCBTY3JpcHQ="},"type":"script"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/script/0c1d5a71-1b2b-4d80-ae3a-e9772b605bc3"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"script.lua"},"relationships":{"package":{"data":[]},"metadata":{"data":{"id":"0c1d5a71-1b2b-4d80-ae3a-e9772b605bc3","type":"metadata"}}},"id":"0c1d5a71-1b2b-4d80-ae3a-e9772b605bc3","meta":{"created":"2017-04-25T22:25:35.827155Z","digest":"106505101da9e8d279dc688ec1a2cda647debda8d0112553885add44ba039391"},"type":"script"}}'
      effective_url: https://api.helium.com/v1/script
  recorded_at: Tue, 25 Apr 2017 22:25:35 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/library
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"lib.lua","contents":"LS0gVGVzdCBMaWJyYXJ5"},"type":"library"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/library/73e2278b-5bb9-46ad-9ccd-7f21efc1288f"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"lib.lua"},"relationships":{"package":{"data":[]},"metadata":{"data":{"id":"73e2278b-5bb9-46ad-9ccd-7f21efc1288f","type":"metadata"}}},"id":"73e2278b-5bb9-46ad-9ccd-7f21efc1288f","meta":{"created":"2017-04-25T22:25:35.901951Z","digest":"500800f8193f61c59a5e1a085971a23a7bc2473529fddf9cdd46b48096f387f3"},"type":"library"}}'
      effective_url: https://api.helium.com/v1/library
  recorded_at: Tue, 25 Apr 2017 22:25:35 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/package
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"test package"},"type":"package","relationships":{"script":{"data":{"id":"0c1d5a71-1b2b-4d80-ae3a-e9772b605bc3","type":"script"}},"library":{"data":[{"id":"73e2278b-5bb9-46ad-9ccd-7f21efc1288f","type":"library"}]}}}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/package/790ca944-32db-49e9-afd9-5e61f724efca"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"test package"},"relationships":{"script":{"data":{"id":"0c1d5a71-1b2b-4d80-ae3a-e9772b605bc3","type":"script"}},"library":{"data":[{"id":"73e2278b-5bb9-46ad-9ccd-7f21efc1288f","type":"library"}]},"sensor-package":{"data":[]},"metadata":{"data":{"id":"790ca944-32db-49e9-afd9-5e61f724efca","type":"metadata"}}},"id":"790ca944-32db-49e9-afd9-5e61f724efca","meta":{"created":"2017-04-25T22:25:35.979296Z"},"type":"package"}}'
      effective_url: https://api.helium.com/v1/package
  recorded_at: Tue, 25 Apr 2017 22:25:36 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/package/790ca944-32db-49e9-afd9-5e61f724efca
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/package/790ca944-32db-49e9-afd9-5e61f724efca
  recorded_at: Tue, 25 Apr 2017 22:25:36 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/script/0c1d5a71-1b2b-4d80-ae3a-e9772b605bc3
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/script/0c1d5a71-1b2b-4d80-ae3a-e9772b605bc3
  recorded_at: Tue, 25 Apr 2017 22:25:36 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/library/73e2278b-5bb9-46ad-9ccd-7f21efc1288f
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/library/73e2278b-5bb9-46ad-9ccd-7f21efc1288f
  recorded_at: Tue, 25 Apr 2017 22:25:36 GMT
recorded_with: VCR 3.0.3
