---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/script
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"script.lua","contents":"LS0gVGVzdCBTY3JpcHQ="},"type":"script"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - javascript doesn't have integers
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/script/5e8abd3f-62bb-428d-9ce4-120e67153de7"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"script.lua"},"relationships":{"package":{"data":[]},"metadata":{"data":{"id":"5e8abd3f-62bb-428d-9ce4-120e67153de7","type":"metadata"}}},"id":"5e8abd3f-62bb-428d-9ce4-120e67153de7","meta":{"created":"2017-04-19T19:47:29.741535Z","digest":"106505101da9e8d279dc688ec1a2cda647debda8d0112553885add44ba039391"},"type":"script"}}'
      effective_url: https://api.helium.com/v1/script
  recorded_at: Wed, 19 Apr 2017 19:47:29 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/library
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"lib.lua","contents":"LS0gVGVzdCBMaWJyYXJ5"},"type":"library"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/library/bc4ad5cc-7667-43a7-b464-9d23aa9825ef"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"lib.lua"},"relationships":{"package":{"data":[]},"metadata":{"data":{"id":"bc4ad5cc-7667-43a7-b464-9d23aa9825ef","type":"metadata"}}},"id":"bc4ad5cc-7667-43a7-b464-9d23aa9825ef","meta":{"created":"2017-04-19T19:47:29.81564Z","digest":"500800f8193f61c59a5e1a085971a23a7bc2473529fddf9cdd46b48096f387f3"},"type":"library"}}'
      effective_url: https://api.helium.com/v1/library
  recorded_at: Wed, 19 Apr 2017 19:47:29 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/package
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"test package"},"type":"package","relationships":{"script":{"data":{"id":"5e8abd3f-62bb-428d-9ce4-120e67153de7","type":"script"}},"library":{"data":[{"id":"bc4ad5cc-7667-43a7-b464-9d23aa9825ef","type":"library"}]}}}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - firm pat on the back
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/package/38bd4302-2c13-4993-a8a6-39294e3a3428"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":null},"relationships":{"script":{"data":{"id":"5e8abd3f-62bb-428d-9ce4-120e67153de7","type":"script"}},"library":{"data":[{"id":"bc4ad5cc-7667-43a7-b464-9d23aa9825ef","type":"library"}]},"sensor-package":{"data":[]},"metadata":{"data":{"id":"38bd4302-2c13-4993-a8a6-39294e3a3428","type":"metadata"}}},"id":"38bd4302-2c13-4993-a8a6-39294e3a3428","meta":{"created":"2017-04-19T19:47:29.99618Z"},"type":"package"}}'
      effective_url: https://api.helium.com/v1/package
  recorded_at: Wed, 19 Apr 2017 19:47:30 GMT
[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/package/38bd4302-2c13-4993-a8a6-39294e3a3428
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/package/38bd4302-2c13-4993-a8a6-39294e3a3428
  recorded_at: Wed, 19 Apr 2017 19:47:30 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/script/5e8abd3f-62bb-428d-9ce4-120e67153de7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - javascript doesn't have integers
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/script/5e8abd3f-62bb-428d-9ce4-120e67153de7
  recorded_at: Wed, 19 Apr 2017 19:47:30 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/library/bc4ad5cc-7667-43a7-b464-9d23aa9825ef
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/library/bc4ad5cc-7667-43a7-b464-9d23aa9825ef
  recorded_at: Wed, 19 Apr 2017 19:47:30 GMT
recorded_with: VCR 3.0.3
