---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - "$300,000 worth of cows"
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/bed6583e-543b-4668-a7cf-ba4d69eee6b1"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"bed6583e-543b-4668-a7cf-ba4d69eee6b1","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"bed6583e-543b-4668-a7cf-ba4d69eee6b1","meta":{"card":null,"mac":null,"created":"2017-03-03T01:21:55.264894Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-03T01:21:55.264894Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Fri, 03 Mar 2017 01:21:55 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - evacuation not done in time
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/label/981560e1-401d-49f1-afca-f94846eaeee7"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"981560e1-401d-49f1-afca-f94846eaeee7","type":"metadata"}},"sensor":{"data":[]},"element":{"data":[]}},"id":"981560e1-401d-49f1-afca-f94846eaeee7","meta":{"created":"2017-03-03T01:21:55.330862Z","updated":"2017-03-03T01:21:55.330862Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Fri, 03 Mar 2017 01:21:55 GMT
[...]
- request:
    method: post
    uri: https://api.helium.com/v1/label/981560e1-401d-49f1-afca-f94846eaeee7/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"bed6583e-543b-4668-a7cf-ba4d69eee6b1","type":"sensor"}]}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - "$300,000 worth of cows"
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"bed6583e-543b-4668-a7cf-ba4d69eee6b1","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/981560e1-401d-49f1-afca-f94846eaeee7/relationships/sensor
  recorded_at: Fri, 03 Mar 2017 01:21:55 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/bed6583e-543b-4668-a7cf-ba4d69eee6b1/label
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/bed6583e-543b-4668-a7cf-ba4d69eee6b1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - "$300,000 worth of cows"
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/bed6583e-543b-4668-a7cf-ba4d69eee6b1
  recorded_at: Fri, 03 Mar 2017 01:21:55 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/981560e1-401d-49f1-afca-f94846eaeee7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/981560e1-401d-49f1-afca-f94846eaeee7
  recorded_at: Fri, 03 Mar 2017 01:21:55 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/726904a6-1275-4a8d-84f6-25b077f465b5
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - firm pat on the back
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/726904a6-1275-4a8d-84f6-25b077f465b5
  recorded_at: Fri, 03 Mar 2017 01:21:55 GMT
recorded_with: VCR 3.0.3
