---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/3d6d55a0-904a-4cbf-9264-01d0e073341a"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"3d6d55a0-904a-4cbf-9264-01d0e073341a","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"3d6d55a0-904a-4cbf-9264-01d0e073341a","meta":{"card":null,"mac":null,"created":"2017-03-03T01:17:35.337243Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-03T01:17:35.337243Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Fri, 03 Mar 2017 01:17:35 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - javascript doesn't have integers
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/label/75f9c183-5f55-416e-9932-3a9480f8a144"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"75f9c183-5f55-416e-9932-3a9480f8a144","type":"metadata"}},"sensor":{"data":[]},"element":{"data":[]}},"id":"75f9c183-5f55-416e-9932-3a9480f8a144","meta":{"created":"2017-03-03T01:17:35.40133Z","updated":"2017-03-03T01:17:35.40133Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Fri, 03 Mar 2017 01:17:35 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/label/75f9c183-5f55-416e-9932-3a9480f8a144/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"3d6d55a0-904a-4cbf-9264-01d0e073341a","type":"sensor"}]}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"3d6d55a0-904a-4cbf-9264-01d0e073341a","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/75f9c183-5f55-416e-9932-3a9480f8a144/relationships/sensor
  recorded_at: Fri, 03 Mar 2017 01:17:35 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/3d6d55a0-904a-4cbf-9264-01d0e073341a/label
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"75f9c183-5f55-416e-9932-3a9480f8a144","type":"metadata"}},"sensor":{"data":[{"id":"3d6d55a0-904a-4cbf-9264-01d0e073341a","type":"sensor"}]},"element":{"data":[]}},"id":"75f9c183-5f55-416e-9932-3a9480f8a144","meta":{"created":"2017-03-03T01:17:35.40133Z","updated":"2017-03-03T01:17:35.40133Z"},"type":"label"}]}'
      effective_url: https://api.helium.com/v1/sensor/3d6d55a0-904a-4cbf-9264-01d0e073341a/label
  recorded_at: Fri, 03 Mar 2017 01:17:35 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/3d6d55a0-904a-4cbf-9264-01d0e073341a
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/3d6d55a0-904a-4cbf-9264-01d0e073341a
  recorded_at: Fri, 03 Mar 2017 01:17:35 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/75f9c183-5f55-416e-9932-3a9480f8a144
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/75f9c183-5f55-416e-9932-3a9480f8a144
  recorded_at: Fri, 03 Mar 2017 01:17:35 GMT
recorded_with: VCR 3.0.3
