---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Sensor"},"type":"sensor"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - never breaks eye contact
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json
      Location:
      - "/v1/sensor/9e5ea89f-55d5-4085-9505-aee6ceaa57f4"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Sensor"},"relationships":{"metadata":{"data":{"id":"9e5ea89f-55d5-4085-9505-aee6ceaa57f4","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"9e5ea89f-55d5-4085-9505-aee6ceaa57f4","meta":{"card":null,"mac":null,"created":"2016-09-26T23:15:35.732477Z","last-seen":null,"ports":[],"updated":"2016-09-26T23:15:35.732477Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Mon, 26 Sep 2016 23:15:30 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/sensor/9e5ea89f-55d5-4085-9505-aee6ceaa57f4/timeseries
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"port":"power level","value":"over 9000","timestamp":"2016-09-01T00:00:00Z"},"type":"data-point"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json
      Location:
      - "/v1/sensor/9e5ea89f-55d5-4085-9505-aee6ceaa57f4/timeseries?page%5Bsize%5D=1&page%5Bid%5D=c564a4ce-ef20-4c44-8e4d-99c26cba4530"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"value":"over 9000","timestamp":"2016-09-01T00:00:00Z","port":"power
        level"},"relationships":{"sensor":{"data":{"id":"9e5ea89f-55d5-4085-9505-aee6ceaa57f4","type":"sensor"}}},"id":"c564a4ce-ef20-4c44-8e4d-99c26cba4530","meta":{"created":"2016-09-26T23:15:35.937042Z"},"type":"data-point"}}'
      effective_url: https://api.helium.com/v1/sensor/9e5ea89f-55d5-4085-9505-aee6ceaa57f4/timeseries
  recorded_at: Mon, 26 Sep 2016 23:15:30 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/9e5ea89f-55d5-4085-9505-aee6ceaa57f4/timeseries?page%5Bsize%5D=1000
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - "$300,000 worth of cows"
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"value":"over 9000","timestamp":"2016-09-01T00:00:00Z","port":"power
        level"},"relationships":{"sensor":{"data":{"id":"9e5ea89f-55d5-4085-9505-aee6ceaa57f4","type":"sensor"}}},"id":"c564a4ce-ef20-4c44-8e4d-99c26cba4530","meta":{"created":"2016-09-26T23:15:35.937042Z"},"type":"data-point"}],"links":{}}'
      effective_url: https://api.helium.com/v1/sensor/9e5ea89f-55d5-4085-9505-aee6ceaa57f4/timeseries?page%5Bsize%5D=1000
  recorded_at: Mon, 26 Sep 2016 23:15:30 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/9e5ea89f-55d5-4085-9505-aee6ceaa57f4
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - never breaks eye contact
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/9e5ea89f-55d5-4085-9505-aee6ceaa57f4
  recorded_at: Mon, 26 Sep 2016 23:15:30 GMT
recorded_with: VCR 3.0.3
