---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - javascript doesn't have integers
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Marc''s Isotope"},"id":"08bab58b-d095-4c7c-912c-1f8024d91d95","meta":{"card":null,"mac":"6081f9fffe00019b","created":"2015-08-06T17:28:11.614107Z","versions":null,"last-seen":"2015-08-11T18:50:04Z","ports":["b","t"],"updated":"2016-05-30T22:36:50.810716Z"},"type":"sensor"},{"attributes":{"name":"John
        Isotope"},"id":"51f3564d-bfb9-4b77-b868-fa83f1de2f39","meta":{"card":null,"mac":"6081f9fffe000177","created":"2015-08-06T23:39:35.05194Z","versions":null,"last-seen":"2015-10-07T17:15:04Z","ports":["b","t"],"updated":"2015-08-06T23:39:35.05201Z"},"type":"sensor"},{"attributes":{"name":"RF''s
        Isotope"},"id":"66ae4160-64a2-41d9-bbe0-891b70e71b1e","meta":{"card":{"id":255},"mac":"6081f9fffe000675","created":"2015-11-03T17:00:10.135173Z","versions":{"sensor-script":[{"version":"37d26a13e081ace2"},{"version":"ffffffffffffffff"},{"version":"ffffffffffffffff"},{"version":"ffffffffffffffff"},{"version":"ffffffffffffffff"},{"version":"ffffffffffffffff"},{"version":"ffffffffffffffff"}],"atom":"2050b00","sensor-config":"a01bd416372f4982","sensor-library":"5deb1dc079f5e352","sensor":"4020200"},"last-seen":"2016-06-01T16:56:17.297082Z","ports":["_se","b","d","t"],"updated":"2015-11-03T17:00:10.114371Z"},"type":"sensor"},{"attributes":{"name":"CS008B"},"id":"0d0a87ff-84c3-473c-b349-4af6122c1644","meta":{"card":{"id":255},"mac":"6081f9fffe00008b","created":"2015-08-05T19:10:25.606784Z","versions":{"sensor-script":[],"atom":"2050900","sensor-config":"507e8d0ed4dbff31","sensor-library":"0","sensor":"4010700"},"last-seen":"2016-05-26T15:56:14.898989Z","ports":["_se","b","d","t"],[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/ce999078-d38d-4692-b194-3e8af55887fd
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - blame me if inappropriate
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/ce999078-d38d-4692-b194-3e8af55887fd
  recorded_at: Wed, 17 Aug 2016 23:43:35 GMT
[...]
