---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/01d53511-228d-4530-8eaf-74d43c17baa8
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"John''s Development Isotope with a Brick1"},"relationships":{"metadata":{"data":{"id":"01d53511-228d-4530-8eaf-74d43c17baa8","type":"metadata"}},"element":{"data":null},"label":{"data":[{"id":"968cc881-737e-4bff-bdd6-2af45992fe86","type":"label"},{"id":"273dc59b-5a69-4247-8675-2970f1f095c6","type":"label"}]}},"id":"01d53511-228d-4530-8eaf-74d43c17baa8","meta":{"card":{"id":2},"mac":"6081f9fffe000790","created":"2016-03-29T23:41:29.994176Z","last-seen":"2016-05-17T00:08:57.716681Z","ports":["b","m","d","p","l","_se","t","_b","h"],"updated":"2016-03-29T23:41:29.994404Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor/01d53511-228d-4530-8eaf-74d43c17baa8
  recorded_at: Wed, 19 Oct 2016 22:20:00 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/01d53511-228d-4530-8eaf-74d43c17baa8/label
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - evacuation not done in time
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Label Ladel"},"relationships":{"metadata":{"data":{"id":"273dc59b-5a69-4247-8675-2970f1f095c6","type":"metadata"}},"sensor":{"data":[{"id":"492759da-afb0-4d66-a83c-bb001d20c280","type":"sensor"},{"id":"01d53511-228d-4530-8eaf-74d43c17baa8","type":"sensor"}]}},"id":"273dc59b-5a69-4247-8675-2970f1f095c6","meta":{"created":"2016-10-18T17:55:57.374109Z","updated":"2016-10-18T17:55:57.374109Z"},"type":"label"},{"attributes":{"name":"Bricks"},"relationships":{"metadata":{"data":{"id":"968cc881-737e-4bff-bdd6-2af45992fe86","type":"metadata"}},"sensor":{"data":[{"id":"f928df8f-9cda-4313-9cf7-cffee5d57050","type":"sensor"},{"id":"c7b11d08-8534-46e4-a14d-0a9306c899b7","type":"sensor"},{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"},{"id":"01d53511-228d-4530-8eaf-74d43c17baa8","type":"sensor"}]}},"id":"968cc881-737e-4bff-bdd6-2af45992fe86","meta":{"created":"2016-03-30T21:42:22.654635Z","updated":"2016-03-30T21:42:24.772556Z"},"type":"label"}]}'
      effective_url: https://api.helium.com/v1/sensor/01d53511-228d-4530-8eaf-74d43c17baa8/label
  recorded_at: Wed, 19 Oct 2016 22:20:00 GMT
recorded_with: VCR 3.0.3
