---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Sensor"},"type":"sensor"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/f8a53454-1e3e-4dcf-a541-0bce1cb1c22c"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Sensor"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"f8a53454-1e3e-4dcf-a541-0bce1cb1c22c","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"f8a53454-1e3e-4dcf-a541-0bce1cb1c22c","meta":{"card":null,"mac":null,"created":"2017-02-10T00:54:29.619258Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-02-10T00:54:29.619258Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Fri, 10 Feb 2017 00:54:29 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/f8a53454-1e3e-4dcf-a541-0bce1cb1c22c/timeseries/live
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - text/event-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - text/event-stream
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/f8a53454-1e3e-4dcf-a541-0bce1cb1c22c/timeseries/live
  recorded_at: Fri, 10 Feb 2017 00:54:47 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/f8a53454-1e3e-4dcf-a541-0bce1cb1c22c
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - firm pat on the back
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/f8a53454-1e3e-4dcf-a541-0bce1cb1c22c
  recorded_at: Fri, 10 Feb 2017 00:54:47 GMT
recorded_with: VCR 3.0.3
