---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/4b6bcb0a-99dd-4c1d-aefd-d02cc0e6a215"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"4b6bcb0a-99dd-4c1d-aefd-d02cc0e6a215","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"4b6bcb0a-99dd-4c1d-aefd-d02cc0e6a215","meta":{"card":null,"mac":null,"created":"2017-03-03T01:26:55.915833Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-03T01:26:55.915833Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Fri, 03 Mar 2017 01:26:55 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/label/b168f512-8455-4e3d-8e6b-482c4c7f00ed"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"b168f512-8455-4e3d-8e6b-482c4c7f00ed","type":"metadata"}},"sensor":{"data":[]},"element":{"data":[]}},"id":"b168f512-8455-4e3d-8e6b-482c4c7f00ed","meta":{"created":"2017-03-03T01:26:55.997745Z","updated":"2017-03-03T01:26:55.997745Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Fri, 03 Mar 2017 01:26:56 GMT
[...]
- request:
    method: post
    uri: https://api.helium.com/v1/label/b168f512-8455-4e3d-8e6b-482c4c7f00ed/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"4b6bcb0a-99dd-4c1d-aefd-d02cc0e6a215","type":"sensor"}]}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"4b6bcb0a-99dd-4c1d-aefd-d02cc0e6a215","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/b168f512-8455-4e3d-8e6b-482c4c7f00ed/relationships/sensor
  recorded_at: Fri, 03 Mar 2017 01:26:56 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/4b6bcb0a-99dd-4c1d-aefd-d02cc0e6a215/label
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"B Test Label"},"relationships":{"metadata":{"data":{"id":"c8ca7cd4-34fb-4d7b-8610-66978b3b1995","type":"metadata"}},"sensor":{"data":[{"id":"4b6bcb0a-99dd-4c1d-aefd-d02cc0e6a215","type":"sensor"}]},"element":{"data":[]}},"id":"c8ca7cd4-34fb-4d7b-8610-66978b3b1995","meta":{"created":"2017-03-03T01:26:56.064564Z","updated":"2017-03-03T01:26:56.064564Z"},"type":"label"}]}'
      effective_url: https://api.helium.com/v1/sensor/4b6bcb0a-99dd-4c1d-aefd-d02cc0e6a215/label
  recorded_at: Fri, 03 Mar 2017 01:26:56 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/4b6bcb0a-99dd-4c1d-aefd-d02cc0e6a215
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/4b6bcb0a-99dd-4c1d-aefd-d02cc0e6a215
  recorded_at: Fri, 03 Mar 2017 01:26:56 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/b168f512-8455-4e3d-8e6b-482c4c7f00ed
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/b168f512-8455-4e3d-8e6b-482c4c7f00ed
  recorded_at: Fri, 03 Mar 2017 01:26:56 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/c8ca7cd4-34fb-4d7b-8610-66978b3b1995
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - javascript doesn't have integers
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/c8ca7cd4-34fb-4d7b-8610-66978b3b1995
  recorded_at: Fri, 03 Mar 2017 01:26:56 GMT
recorded_with: VCR 3.0.3
