---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - firm pat on the back
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/f1a30539-2c33-4ef5-960f-82c0c676d5a1"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"f1a30539-2c33-4ef5-960f-82c0c676d5a1","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"f1a30539-2c33-4ef5-960f-82c0c676d5a1","meta":{"card":null,"mac":null,"created":"2017-03-03T01:23:06.697917Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-03T01:23:06.697917Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Fri, 03 Mar 2017 01:23:06 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - firm pat on the back
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/label/13336cec-05a2-4205-a0c6-bda2f6bb9e1f"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"13336cec-05a2-4205-a0c6-bda2f6bb9e1f","type":"metadata"}},"sensor":{"data":[]},"element":{"data":[]}},"id":"13336cec-05a2-4205-a0c6-bda2f6bb9e1f","meta":{"created":"2017-03-03T01:23:06.899775Z","updated":"2017-03-03T01:23:06.899775Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Fri, 03 Mar 2017 01:23:06 GMT
[...]
- request:
    method: post
    uri: https://api.helium.com/v1/label/13336cec-05a2-4205-a0c6-bda2f6bb9e1f/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"f1a30539-2c33-4ef5-960f-82c0c676d5a1","type":"sensor"}]}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"f1a30539-2c33-4ef5-960f-82c0c676d5a1","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/13336cec-05a2-4205-a0c6-bda2f6bb9e1f/relationships/sensor
  recorded_at: Fri, 03 Mar 2017 01:23:07 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/f1a30539-2c33-4ef5-960f-82c0c676d5a1/label
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - never breaks eye contact
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"13336cec-05a2-4205-a0c6-bda2f6bb9e1f","type":"metadata"}},"sensor":{"data":[{"id":"f1a30539-2c33-4ef5-960f-82c0c676d5a1","type":"sensor"}]},"element":{"data":[]}},"id":"13336cec-05a2-4205-a0c6-bda2f6bb9e1f","meta":{"created":"2017-03-03T01:23:06.899775Z","updated":"2017-03-03T01:23:06.899775Z"},"type":"label"}]}'
      effective_url: https://api.helium.com/v1/sensor/f1a30539-2c33-4ef5-960f-82c0c676d5a1/label
  recorded_at: Fri, 03 Mar 2017 01:23:07 GMT
[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/f1a30539-2c33-4ef5-960f-82c0c676d5a1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - "$300,000 worth of cows"
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/f1a30539-2c33-4ef5-960f-82c0c676d5a1
  recorded_at: Fri, 03 Mar 2017 01:23:07 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/13336cec-05a2-4205-a0c6-bda2f6bb9e1f
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/13336cec-05a2-4205-a0c6-bda2f6bb9e1f
  recorded_at: Fri, 03 Mar 2017 01:23:07 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/b7dc8744-7429-44d7-aefa-1bc694a01e9a
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/b7dc8744-7429-44d7-aefa-1bc694a01e9a
  recorded_at: Fri, 03 Mar 2017 01:23:07 GMT
recorded_with: VCR 3.0.3
