---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/aba370be-837d-4b41-bee5-686b0069d874/timeseries?page%5Bid%5D=a635cc9e-6ee7-4343-a805-58aede9a0b50&page%5Bsize%5D=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - javascript doesn't have integers
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"value":21.121046,"timestamp":"2016-08-06T17:40:29.331Z","port":"t"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}}},"id":"a635cc9e-6ee7-4343-a805-58aede9a0b50","meta":{"created":"2016-08-06T17:45:46.513707Z"},"type":"data-point"},{"attributes":{"value":45,"timestamp":"2016-08-06T17:40:29.074Z","port":"l"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}}},"id":"8b311019-9ee1-4913-a30e-f4bf6fc40100","meta":{"created":"2016-08-06T17:41:20.481075Z"},"type":"data-point"},{"attributes":{"value":2793,"timestamp":"2016-08-06T17:35:29.816Z","port":"b"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","[...]
