---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/aba370be-837d-4b41-bee5-686b0069d874/timeseries?page%5Bsize%5D=1000&filter%5Bstart%5D=2016-08-02T00%3A00%3A00Z&filter%5Bend%5D=2016-08-04T00%3A00%3A00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - firm pat on the back
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"value":53.08232,"timestamp":"2016-08-03T23:55:29.341Z","port":"h"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}}},"id":"0e535a79-6216-4046-ae36-ee19f0e1cf49","meta":{"created":"2016-08-04T00:01:51.87409Z"},"type":"data-point"},{"attributes":{"value":100032.73,"timestamp":"2016-08-03T23:55:29.34Z","port":"p"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}}},"id":"03e2a5d5-4d33-4ff8-9aef-0c93af4ec34e","meta":{"created":"2016-08-04T00:01:51.874075Z"},"type":"data-point"},{"attributes":{"value":23.608294,"timestamp":"2016-08-03T23:55:29.339Z","port":"t"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0[...]
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/aba370be-837d-4b41-bee5-686b0069d874/timeseries?page%5Bid%5D=1f0a9343-03d3-40ae-bb1e-3c46637f4544&page%5Bsize%5D=1000&filter%5Bend%5D=2016-08-04T00:00:00Z&filter%5Bstart%5D=2016-08-02T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-T[...]
[...]
