---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/aba370be-837d-4b41-bee5-686b0069d874/timeseries?page%5Bsize%5D=1000&filter%5Bport%5D=t&filter%5Bstart%5D=2016-08-01T00%3A00%3A00Z&filter%5Bend%5D=2016-08-15T00%3A00%3A00Z&agg%5Btype%5D=min%2Cmax%2Cavg&agg%5Bsize%5D=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - RB_GC_GUARD
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"value":{"max":23.44619,"avg":22.6003919791667,"min":21.931545},"timestamp":"2016-08-14T00:00:00Z","port":"agg(t)"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}}},"id":"6b7daaea-b57e-4ca3-b0bb-a29433e3c3ef","meta":{"created":"2016-08-14T23:56:20.922681Z"},"type":"data-point"},{"attributes":{"value":{"max":23.998356,"avg":22.7424091458333,"min":21.759314},"timestamp":"2016-08-13T00:00:00Z","port":"agg(t)"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}}},"id":"9ab397ac-8135-446f-8134-ea7f9eae0127","meta":{"created":"2016-08-13T23:56:46.48235Z"},"type":"data-point"},{"attributes":{"value":{"max":24.879805,"avg":22.7074708070175,"min":21.546556},"timestamp":"2016-08-12T0[...]
