---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/aba370be-837d-4b41-bee5-686b0069d874/timeseries?page%5Bsize%5D=1000&filter%5Bport%5D=t&filter%5Bstart%5D=2016-08-02T00%3A00%3A00Z&filter%5Bend%5D=2016-08-04T00%3A00%3A00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - sharkfed
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"value":23.608294,"timestamp":"2016-08-03T23:55:29.339Z","port":"t"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}}},"id":"ef090939-1fb3-47f3-bdf3-1689a21e74de","meta":{"created":"2016-08-04T00:01:51.874059Z"},"type":"data-point"},{"attributes":{"value":23.55257,"timestamp":"2016-08-03T23:50:29.336Z","port":"t"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}}},"id":"6fb53643-8bd9-450c-a530-9a1e83f8d1e6","meta":{"created":"2016-08-04T00:01:51.873999Z"},"type":"data-point"},{"attributes":{"value":23.699476,"timestamp":"2016-08-03T23:45:29.574Z","port":"t"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b[...]
