---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/aba370be-837d-4b41-bee5-686b0069d874/timeseries?page%5Bsize%5D=1000&agg%5Btype%5D=min%2Cmax%2Cavg&agg%5Bsize%5D=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - shut it down
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"value":{"max":45,"avg":30.8214285714286,"min":18},"timestamp":"2016-08-16T00:00:00Z","port":"agg(l)"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}}},"id":"edc30c62-78d9-47b3-a503-86b1c485793a","meta":{"created":"2016-08-16T04:35:58.631895Z"},"type":"data-point"},{"attributes":{"value":{"max":22.579952,"avg":22.1344594716981,"min":21.789707},"timestamp":"2016-08-16T00:00:00Z","port":"agg(t)"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}}},"id":"a43707ef-ab08-4424-905f-4107d883deaa","meta":{"created":"2016-08-16T04:35:58.655828Z"},"type":"data-point"},{"attributes":{"value":{"max":2785,"avg":2781.8,"min":2776},"timestamp":"2016-08-16T00:00:00Z","port":"a[...]
