---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/sensor/aba370be-837d-4b41-bee5-686b0069d874/timeseries?page%5Bsize%5D=1000&filter%5Bport%5D=t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - never breaks eye contact
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"value":20.680338,"timestamp":"2016-08-07T14:15:29.686Z","port":"t"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}}},"id":"43eb52ff-0e1e-49b9-bbff-e4921303c0c7","meta":{"created":"2016-08-07T14:17:03.202981Z"},"type":"data-point"},{"attributes":{"value":20.680338,"timestamp":"2016-08-07T14:10:29.683Z","port":"t"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}}},"id":"96c566ec-8124-4391-93df-a301b0a4b517","meta":{"created":"2016-08-07T14:17:03.202958Z"},"type":"data-point"},{"attributes":{"value":20.685404,"timestamp":"2016-08-07T14:05:29.68Z","port":"t"},"relationships":{"sensor":{"data":{"id":"aba370be-837d-4b41-bee5-686b[...]
