---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/element/78b6a9f4-9c39-4673-9946-72a16c35a422
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"SF Office"},"relationships":{"metadata":{"data":{"id":"78b6a9f4-9c39-4673-9946-72a16c35a422","type":"metadata"}},"organization":{"data":{"id":"dev-accounts","type":"organization"}},"sensor":{"data":[]}},"id":"78b6a9f4-9c39-4673-9946-72a16c35a422","meta":{"mac":"6081f9fffe0002a8","created":"2015-08-12T23:10:40.537762Z","last-seen":"2016-07-28T04:50:08.413857Z","updated":"2015-08-12T23:10:40.536644Z"},"type":"element"}}'
      effective_url: https://api.helium.com/v1/element/78b6a9f4-9c39-4673-9946-72a16c35a422
  recorded_at: Tue, 27 Sep 2016 19:34:53 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/element/78b6a9f4-9c39-4673-9946-72a16c35a422/timeseries
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"port":"power level","value":"over 9000","timestamp":"2016-09-01T00:00:00Z"},"type":"data-point"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json
      Location:
      - "/v1/element/78b6a9f4-9c39-4673-9946-72a16c35a422/timeseries?page%5Bsize%5D=1&page%5Bid%5D=da2a7c8c-2b90-4d85-8519-dfdce6b64365"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"value":"over 9000","timestamp":"2016-09-01T00:00:00Z","port":"power
        level"},"id":"da2a7c8c-2b90-4d85-8519-dfdce6b64365","meta":{"created":"2016-09-27T19:34:58.399228Z"},"type":"data-point"}}'
      effective_url: https://api.helium.com/v1/element/78b6a9f4-9c39-4673-9946-72a16c35a422/timeseries
  recorded_at: Tue, 27 Sep 2016 19:34:53 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/element/78b6a9f4-9c39-4673-9946-72a16c35a422/timeseries?page%5Bsize%5D=1000
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"value":"over 9000","timestamp":"2016-09-01T00:00:00Z","port":"power
        level"},"id":"da2a7c8c-2b90-4d85-8519-dfdce6b64365","meta":{"created":"2016-09-27T19:34:58.399228Z"},"type":"data-point"},{"attributes":{"value":{"kind":"_element.connect","details":{"pan-id":60616,"mac":"6081f9fffe0002a8","channels":[16,4],"versions":{"element":"3050900"},"short-address":28945}},"timestamp":"2016-07-28T04:50:05Z","port":"_se"},"id":"038095dd-aca0-4f84-91d7-e97cf064817d","meta":{"created":"2016-07-28T04:50:08.413857Z"},"type":"data-point"},{"attributes":{"value":{"kind":"_element.connect","details":{"pan-id":29393,"mac":"6081f9fffe0002a8","channels":[14,3],"versions":{"element":"3050900"},"short-address":1678}},"timestamp":"2016-07-28T04:49:33Z","port":"_se"},"id":"396dab40-920e-42d0-a9d6-f8a673863934","meta":{"created":"2016-07-28T04:49:34.627207Z"},"type":"data[...]
