---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/element/78b6a9f4-9c39-4673-9946-72a16c35a422/timeseries?page%5Bsize%5D=1000&filter%5Bstart%5D=2016-06-01T00%3A00%3A00Z&filter%5Bend%5D=2016-06-30T00%3A00%3A00Z
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - firm pat on the back
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"value":{"kind":"_element.connect","details":{"pan-id":2827,"mac":"6081f9fffe0002a8","channels":[11,4],"versions":{"element":"3050900"},"short-address":20455}},"timestamp":"2016-06-27T16:27:04Z","port":"_se"},"id":"a49d06e2-1a29-41a5-a450-b719dd355af5","meta":{"created":"2016-06-27T16:27:05.424428Z"},"type":"data-point"},{"attributes":{"value":{"kind":"_element.connect","details":{"pan-id":45641,"mac":"6081f9fffe0002a8","channels":[11,2],"versions":{"element":"3050900"},"short-address":13044}},"timestamp":"2016-06-22T23:52:44Z","port":"_se"},"id":"b35d045e-ff27-4702-a3a1-3d386088aaba","meta":{"created":"2016-06-22T23:52:44.870566Z"},"type":"data-point"},{"attributes":{"value":{"kind":"_element.connect","details":{"pan-id":33808,"mac":"6081f9fffe0002a8","channels":[14,3],"versions":{"element":"30509[...]
