---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/label/2ce6167a-fb20-4360-b726-700e8c75ee20"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"2ce6167a-fb20-4360-b726-700e8c75ee20","type":"metadata"}},"sensor":{"data":[]},"element":{"data":[]}},"id":"2ce6167a-fb20-4360-b726-700e8c75ee20","meta":{"created":"2017-03-02T23:18:11.755053Z","updated":"2017-03-02T23:18:11.755053Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Thu, 02 Mar 2017 23:18:11 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/35d9db38-b234-4896-894a-a484b246599b"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"35d9db38-b234-4896-894a-a484b246599b","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"35d9db38-b234-4896-894a-a484b246599b","meta":{"card":null,"mac":null,"created":"2017-03-02T23:18:11.819624Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-02T23:18:11.819624Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Thu, 02 Mar 2017 23:18:11 GMT
[...]
- request:
    method: post
    uri: https://api.helium.com/v1/label/2ce6167a-fb20-4360-b726-700e8c75ee20/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"35d9db38-b234-4896-894a-a484b246599b","type":"sensor"}]}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"35d9db38-b234-4896-894a-a484b246599b","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/2ce6167a-fb20-4360-b726-700e8c75ee20/relationships/sensor
  recorded_at: Thu, 02 Mar 2017 23:18:11 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/2ce6167a-fb20-4360-b726-700e8c75ee20/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Test Sensor B"},"id":"809b3e32-b32f-486f-b78a-c40dc3155fce","meta":{"card":null,"mac":null,"created":"2017-03-02T23:18:11.893065Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-02T23:18:11.893065Z"},"type":"sensor"},{"attributes":{"name":"Test
        Sensor A"},"id":"35d9db38-b234-4896-894a-a484b246599b","meta":{"card":null,"mac":null,"created":"2017-03-02T23:18:11.819624Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-02T23:18:11.819624Z"},"type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/2ce6167a-fb20-4360-b726-700e8c75ee20/sensor
  recorded_at: Thu, 02 Mar 2017 23:18:12 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/2ce6167a-fb20-4360-b726-700e8c75ee20
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - javascript doesn't have integers
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/2ce6167a-fb20-4360-b726-700e8c75ee20
  recorded_at: Thu, 02 Mar 2017 23:18:12 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/35d9db38-b234-4896-894a-a484b246599b
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - "$300,000 worth of cows"
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/35d9db38-b234-4896-894a-a484b246599b
  recorded_at: Thu, 02 Mar 2017 23:18:12 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/809b3e32-b32f-486f-b78a-c40dc3155fce
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - "$300,000 worth of cows"
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/809b3e32-b32f-486f-b78a-c40dc3155fce
  recorded_at: Thu, 02 Mar 2017 23:18:12 GMT
recorded_with: VCR 3.0.3
