---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/label/44a779f9-d770-4c12-a3c8-b0075fae49f6"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"44a779f9-d770-4c12-a3c8-b0075fae49f6","type":"metadata"}},"sensor":{"data":[]},"element":{"data":[]}},"id":"44a779f9-d770-4c12-a3c8-b0075fae49f6","meta":{"created":"2017-04-05T20:20:18.751152Z","updated":"2017-04-05T20:20:18.751152Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Wed, 05 Apr 2017 20:20:18 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/element?include=label
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - firm pat on the back
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Eric Compound"},"relationships":{"device-configuration":{"data":[{"id":"03e00386-1099-44c2-977a-7220f71638e5","type":"device-configuration"}]},"metadata":{"data":{"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","type":"metadata"}},"sensor":{"data":[]},"label":{"data":[{"id":"a06ec42c-a566-4e8c-bbd4-802e38b34acf","type":"label"},{"id":"80a14878-c0bc-4f43-a05b-376e6e9e7fbe","type":"label"},{"id":"8cda7171-5f59-4c5e-b514-91e919cebf1d","type":"label"},{"id":"ef3485ca-7c3d-40e5-8218-260758e67941","type":"label"},{"id":"6bca05a4-eca8-40ee-ac1c-47ecb4c4221f","type":"label"},{"id":"44553a68-6640-47fd-ac7e-4b941c4821b2","type":"label"},{"id":"db21ee29-bbd9-4fdb-b546-0702f2876226","type":"label"},{"id":"1951e057-7bbe-4983-823c-79b738ebedd7","type":"label"},{"i[...]
[...]
- request:
    method: post
    uri: https://api.helium.com/v1/label/44a779f9-d770-4c12-a3c8-b0075fae49f6/relationships/element
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","type":"element"}]}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - firm pat on the back
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","type":"element"}]}'
      effective_url: https://api.helium.com/v1/label/44a779f9-d770-4c12-a3c8-b0075fae49f6/relationships/element
  recorded_at: Wed, 05 Apr 2017 20:20:19 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/44a779f9-d770-4c12-a3c8-b0075fae49f6/element
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - firm pat on the back
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Marc Home"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"6fa2f914-450e-447a-8aa3-0e277cda9690","type":"metadata"}},"sensor":{"data":[]},"label":{"data":[{"id":"44a779f9-d770-4c12-a3c8-b0075fae49f6","type":"label"}]}},"id":"6fa2f914-450e-447a-8aa3-0e277cda9690","meta":{"connected":false,"mac":"6081f9fffe000b01","created":"2016-12-23T01:09:40.394896Z","sim":null,"last-seen":"2017-04-04T02:54:40.733029Z","device-type":"ap-e","updated":"2017-03-04T00:47:43.759442Z"},"type":"element"},{"attributes":{"name":"Eric
        Compound"},"relationships":{"device-configuration":{"data":[{"id":"03e00386-1099-44c2-977a-7220f71638e5","type":"device-configuration"}]},"metadata":{"data":{"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","type":"metadata"}},"sensor":{"data":[]},"label":{"data":[{"id":"44a779f9-d770-4c12-a3c8-b0075fae49f6","type":"label"}]}},"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","meta":{"connected":true,"mac":"6081f9fffe000e59","created":"2016-12-23T21:55:12.967624Z","sim":null,"last-seen":"2016-12-26T02:43:09.409224Z","device-type":null,"updated":"2017-03-22T12:03:44.89603Z"},"type":"element"},{"attributes":{"name":"Andrew
        Home"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"76c35027-9f4f-4eeb-8f6a-548c7caddb53","type":"metadata"}},"sensor":{"data":[]},"label":{"data":[{"id":"44a779f9-d770-4c12-a3c8-b0075fae49f6","type":"label"}]}},"id":"76c35027-9f4f-4eeb-8f6a-548c7caddb53","meta":{"connected":false,"mac":"6081f9fffe000b76","created":"2016-07-26T21:25:00.635041Z","sim":null,"last-seen":"2017-04-05T02:38:28.506479Z","device-type":null,"updated":"2017-03-04T00:47:43.763334Z"},"type":"element"}]}'
      effective_url: https://api.helium.com/v1/label/44a779f9-d770-4c12-a3c8-b0075fae49f6/element
  recorded_at: Wed, 05 Apr 2017 20:20:19 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/44a779f9-d770-4c12-a3c8-b0075fae49f6
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/44a779f9-d770-4c12-a3c8-b0075fae49f6
  recorded_at: Wed, 05 Apr 2017 20:20:19 GMT
recorded_with: VCR 3.0.3
