---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Airship-Quip:
      - RB_GC_GUARD
      Content-Type:
      - application/json
      Location:
      - "/v1/label/c00eabff-45ca-42d0-bbe8-2139b97419fa"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"c00eabff-45ca-42d0-bbe8-2139b97419fa","type":"metadata"}},"sensor":{"data":[]}},"id":"c00eabff-45ca-42d0-bbe8-2139b97419fa","meta":{"created":"2016-08-22T18:31:22.631871Z","updated":"2016-08-22T18:31:22.631871Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Mon, 22 Aug 2016 18:31:23 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/c00eabff-45ca-42d0-bbe8-2139b97419fa
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - RB_GC_GUARD
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/c00eabff-45ca-42d0-bbe8-2139b97419fa
  recorded_at: Mon, 22 Aug 2016 18:31:23 GMT
recorded_with: VCR 3.0.3
