---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/label/d2d12a7e-6638-477b-92c8-5d6e4cbb035b"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"d2d12a7e-6638-477b-92c8-5d6e4cbb035b","type":"metadata"}},"sensor":{"data":[]},"element":{"data":[]}},"id":"d2d12a7e-6638-477b-92c8-5d6e4cbb035b","meta":{"created":"2017-03-02T23:18:42.669027Z","updated":"2017-03-02T23:18:42.669027Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Thu, 02 Mar 2017 23:18:42 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/c37892f2-d45d-4e44-a200-1f440c6410ca"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"c37892f2-d45d-4e44-a200-1f440c6410ca","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"c37892f2-d45d-4e44-a200-1f440c6410ca","meta":{"card":null,"mac":null,"created":"2017-03-02T23:18:42.736849Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-02T23:18:42.736849Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Thu, 02 Mar 2017 23:18:42 GMT
[...]
- request:
    method: post
    uri: https://api.helium.com/v1/label/d2d12a7e-6638-477b-92c8-5d6e4cbb035b/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"c37892f2-d45d-4e44-a200-1f440c6410ca","type":"sensor"}]}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"c37892f2-d45d-4e44-a200-1f440c6410ca","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/d2d12a7e-6638-477b-92c8-5d6e4cbb035b/relationships/sensor
  recorded_at: Thu, 02 Mar 2017 23:18:42 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/d2d12a7e-6638-477b-92c8-5d6e4cbb035b/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - "$300,000 worth of cows"
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/label/d2d12a7e-6638-477b-92c8-5d6e4cbb035b
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - javascript doesn't have integers
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/d2d12a7e-6638-477b-92c8-5d6e4cbb035b
  recorded_at: Thu, 02 Mar 2017 23:18:43 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/c37892f2-d45d-4e44-a200-1f440c6410ca
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/c37892f2-d45d-4e44-a200-1f440c6410ca
  recorded_at: Thu, 02 Mar 2017 23:18:43 GMT
[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/72d9211f-3cce-4cd3-b8c1-7661793a1818
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/72d9211f-3cce-4cd3-b8c1-7661793a1818
  recorded_at: Thu, 02 Mar 2017 23:18:43 GMT
recorded_with: VCR 3.0.3
