---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Airship-Quip:
      - shut it down
      Content-Type:
      - application/json
      Location:
      - "/v1/label/48a18a08-94ea-4714-947a-5dc17157ebd3"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"48a18a08-94ea-4714-947a-5dc17157ebd3","type":"metadata"}},"sensor":{"data":[]}},"id":"48a18a08-94ea-4714-947a-5dc17157ebd3","meta":{"created":"2016-08-22T18:27:22.76172Z","updated":"2016-08-22T18:27:22.76172Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Mon, 22 Aug 2016 18:27:23 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Airship-Quip:
      - evacuation not done in time
      Content-Type:
      - application/json
      Location:
      - "/v1/sensor/6b1293b4-701b-4879-8fa4-5a78fdd98f27"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"metadata":{"data":{"id":"6b1293b4-701b-4879-8fa4-5a78fdd98f27","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"6b1293b4-701b-4879-8fa4-5a78fdd98f27","meta":{"card":null,"mac":null,"created":"2016-08-22T18:27:22.867542Z","versions":null,"last-seen":null,"ports":[],"updated":"2016-08-22T18:27:22.867542Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Mon, 22 Aug 2016 18:27:23 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/48a18a08-94ea-4714-947a-5dc17157ebd3/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - firm pat on the back
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[]}'
      effective_url: https://api.helium.com/v1/label/48a18a08-94ea-4714-947a-5dc17157ebd3/sensor
  recorded_at: Mon, 22 Aug 2016 18:27:24 GMT
- request:
    method: patch
    uri: https://api.helium.com/v1/label/48a18a08-94ea-4714-947a-5dc17157ebd3/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6b1293b4-701b-4879-8fa4-5a78fdd98f27","type":"sensor"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18
      Airship-Quip:
      - firm pat on the back
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6b1293b4-701b-4879-8fa4-5a78fdd98f27","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/48a18a08-94ea-4714-947a-5dc17157ebd3/relationships/sensor
  recorded_at: Mon, 22 Aug 2016 18:27:24 GMT
[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/label/48a18a08-94ea-4714-947a-5dc17157ebd3
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/48a18a08-94ea-4714-947a-5dc17157ebd3
  recorded_at: Mon, 22 Aug 2016 18:27:24 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/6b1293b4-701b-4879-8fa4-5a78fdd98f27
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/6b1293b4-701b-4879-8fa4-5a78fdd98f27
  recorded_at: Mon, 22 Aug 2016 18:27:24 GMT
[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/2516786f-0f19-4b54-9959-9d0b189506b3
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - firm pat on the back
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/2516786f-0f19-4b54-9959-9d0b189506b3
  recorded_at: Mon, 22 Aug 2016 18:27:25 GMT
recorded_with: VCR 3.0.3
