---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Airship-Quip:
      - evacuation not done in time
      Content-Type:
      - application/json
      Location:
      - "/v1/label/377bacc8-0391-418a-8585-06fef2c1873b"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"377bacc8-0391-418a-8585-06fef2c1873b","type":"metadata"}},"sensor":{"data":[]}},"id":"377bacc8-0391-418a-8585-06fef2c1873b","meta":{"created":"2016-08-22T18:24:26.394131Z","updated":"2016-08-22T18:24:26.394131Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Mon, 22 Aug 2016 18:24:27 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Airship-Quip:
      - firm pat on the back
      Content-Type:
      - application/json
      Location:
      - "/v1/sensor/74b0d82e-833c-40a1-bd07-00b92184029c"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"metadata":{"data":{"id":"74b0d82e-833c-40a1-bd07-00b92184029c","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"74b0d82e-833c-40a1-bd07-00b92184029c","meta":{"card":null,"mac":null,"created":"2016-08-22T18:24:26.503097Z","versions":null,"last-seen":null,"ports":[],"updated":"2016-08-22T18:24:26.503097Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Mon, 22 Aug 2016 18:24:27 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/377bacc8-0391-418a-8585-06fef2c1873b/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - blame me if inappropriate
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[]}'
      effective_url: https://api.helium.com/v1/label/377bacc8-0391-418a-8585-06fef2c1873b/sensor
  recorded_at: Mon, 22 Aug 2016 18:24:27 GMT
- request:
    method: patch
    uri: https://api.helium.com/v1/label/377bacc8-0391-418a-8585-06fef2c1873b/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"74b0d82e-833c-40a1-bd07-00b92184029c","type":"sensor"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18
      Airship-Quip:
      - blame me if inappropriate
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"74b0d82e-833c-40a1-bd07-00b92184029c","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/377bacc8-0391-418a-8585-06fef2c1873b/relationships/sensor
  recorded_at: Mon, 22 Aug 2016 18:24:27 GMT
[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/label/377bacc8-0391-418a-8585-06fef2c1873b
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - shut it down
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/377bacc8-0391-418a-8585-06fef2c1873b
  recorded_at: Mon, 22 Aug 2016 18:24:28 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/74b0d82e-833c-40a1-bd07-00b92184029c
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - shut it down
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/74b0d82e-833c-40a1-bd07-00b92184029c
  recorded_at: Mon, 22 Aug 2016 18:24:28 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/c0f92709-f721-4111-a5b4-5f5f834782dd
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - never breaks eye contact
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/c0f92709-f721-4111-a5b4-5f5f834782dd
  recorded_at: Mon, 22 Aug 2016 18:24:28 GMT
recorded_with: VCR 3.0.3
