---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Airship-Quip:
      - "$300,000 worth of cows"
      Content-Type:
      - application/json
      Location:
      - "/v1/label/c7b5092d-8572-4334-a125-435c151cc9eb"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"c7b5092d-8572-4334-a125-435c151cc9eb","type":"metadata"}},"sensor":{"data":[]}},"id":"c7b5092d-8572-4334-a125-435c151cc9eb","meta":{"created":"2016-08-22T17:00:03.14428Z","updated":"2016-08-22T17:00:03.14428Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Mon, 22 Aug 2016 17:00:04 GMT
[...]
