---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Airship-Quip:
      - "$300,000 worth of cows"
      Content-Type:
      - application/json
      Location:
      - "/v1/label/053d390e-0c97-48b8-8932-84b3a06eb948"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"053d390e-0c97-48b8-8932-84b3a06eb948","type":"metadata"}},"sensor":{"data":[]}},"id":"053d390e-0c97-48b8-8932-84b3a06eb948","meta":{"created":"2016-08-22T18:52:50.129729Z","updated":"2016-08-22T18:52:50.129729Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Mon, 22 Aug 2016 18:52:51 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Airship-Quip:
      - never breaks eye contact
      Content-Type:
      - application/json
      Location:
      - "/v1/sensor/f5670b31-49df-49fe-b168-769b9c65595a"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"metadata":{"data":{"id":"f5670b31-49df-49fe-b168-769b9c65595a","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"f5670b31-49df-49fe-b168-769b9c65595a","meta":{"card":null,"mac":null,"created":"2016-08-22T18:52:50.232957Z","versions":null,"last-seen":null,"ports":[],"updated":"2016-08-22T18:52:50.232957Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Mon, 22 Aug 2016 18:52:51 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/053d390e-0c97-48b8-8932-84b3a06eb948/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[]}'
      effective_url: https://api.helium.com/v1/label/053d390e-0c97-48b8-8932-84b3a06eb948/sensor
  recorded_at: Mon, 22 Aug 2016 18:52:51 GMT
- request:
    method: patch
    uri: https://api.helium.com/v1/label/053d390e-0c97-48b8-8932-84b3a06eb948/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"f5670b31-49df-49fe-b168-769b9c65595a","type":"sensor"},{"id":"afcc2629-99ef-451b-a6b2-9084facb653b","type":"sensor"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18
      Airship-Quip:
      - never breaks eye contact
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"f5670b31-49df-49fe-b168-769b9c65595a","type":"sensor"},{"id":"afcc2629-99ef-451b-a6b2-9084facb653b","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/053d390e-0c97-48b8-8932-84b3a06eb948/relationships/sensor
  recorded_at: Mon, 22 Aug 2016 18:52:51 GMT
[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/label/053d390e-0c97-48b8-8932-84b3a06eb948
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - shut it down
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/053d390e-0c97-48b8-8932-84b3a06eb948
  recorded_at: Mon, 22 Aug 2016 18:52:51 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/f5670b31-49df-49fe-b168-769b9c65595a
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - evacuation not done in time
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/f5670b31-49df-49fe-b168-769b9c65595a
  recorded_at: Mon, 22 Aug 2016 18:52:52 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/afcc2629-99ef-451b-a6b2-9084facb653b
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - shut it down
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/afcc2629-99ef-451b-a6b2-9084facb653b
  recorded_at: Mon, 22 Aug 2016 18:52:52 GMT
recorded_with: VCR 3.0.3
