---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Airship-Quip:
      - "$300,000 worth of cows"
      Content-Type:
      - application/json
      Location:
      - "/v1/label/3a32e1bc-854c-448c-aba6-3345c7553f71"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"3a32e1bc-854c-448c-aba6-3345c7553f71","type":"metadata"}},"sensor":{"data":[]}},"id":"3a32e1bc-854c-448c-aba6-3345c7553f71","meta":{"created":"2016-08-22T18:55:36.469612Z","updated":"2016-08-22T18:55:36.469612Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Mon, 22 Aug 2016 18:55:37 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Airship-Quip:
      - shut it down
      Content-Type:
      - application/json
      Location:
      - "/v1/sensor/99b85d41-beae-4666-9b59-ced494c0f0c1"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"metadata":{"data":{"id":"99b85d41-beae-4666-9b59-ced494c0f0c1","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"99b85d41-beae-4666-9b59-ced494c0f0c1","meta":{"card":null,"mac":null,"created":"2016-08-22T18:55:36.575517Z","versions":null,"last-seen":null,"ports":[],"updated":"2016-08-22T18:55:36.575517Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Mon, 22 Aug 2016 18:55:37 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/3a32e1bc-854c-448c-aba6-3345c7553f71/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - RB_GC_GUARD
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[]}'
      effective_url: https://api.helium.com/v1/label/3a32e1bc-854c-448c-aba6-3345c7553f71/sensor
  recorded_at: Mon, 22 Aug 2016 18:55:37 GMT
- request:
    method: patch
    uri: https://api.helium.com/v1/label/3a32e1bc-854c-448c-aba6-3345c7553f71/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"99b85d41-beae-4666-9b59-ced494c0f0c1","type":"sensor"},{"id":"7686a456-db53-4c87-b39a-5d767d1a271b","type":"sensor"},{"id":"cf02ad50-2186-4869-a82f-d81f576d77cb","type":"sensor"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18
      Airship-Quip:
      - javascript doesn't have integers
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"99b85d41-beae-4666-9b59-ced494c0f0c1","type":"sensor"},{"id":"7686a456-db53-4c87-b39a-5d767d1a271b","type":"sensor"},{"id":"cf02ad50-2186-4869-a82f-d81f576d77cb","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/3a32e1bc-854c-448c-aba6-3345c7553f71/relationships/sensor
  recorded_at: Mon, 22 Aug 2016 18:55:37 GMT
[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/label/3a32e1bc-854c-448c-aba6-3345c7553f71
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - evacuation not done in time
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/3a32e1bc-854c-448c-aba6-3345c7553f71
  recorded_at: Mon, 22 Aug 2016 18:55:38 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/99b85d41-beae-4666-9b59-ced494c0f0c1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - sharkfed
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/99b85d41-beae-4666-9b59-ced494c0f0c1
  recorded_at: Mon, 22 Aug 2016 18:55:38 GMT
[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/cf02ad50-2186-4869-a82f-d81f576d77cb
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
      Airship-Quip:
      - sharkfed
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/cf02ad50-2186-4869-a82f-d81f576d77cb
  recorded_at: Mon, 22 Aug 2016 18:55:38 GMT
recorded_with: VCR 3.0.3
