---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - evacuation not done in time
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/label/b11f6a64-27d3-4669-aa72-e67f4dec4057"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"b11f6a64-27d3-4669-aa72-e67f4dec4057","type":"metadata"}},"sensor":{"data":[]},"element":{"data":[]}},"id":"b11f6a64-27d3-4669-aa72-e67f4dec4057","meta":{"created":"2017-03-02T23:29:53.238021Z","updated":"2017-03-02T23:29:53.238021Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Thu, 02 Mar 2017 23:29:53 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - evacuation not done in time
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/807a4a91-6eef-4edb-8d8b-c4b8cafff759"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"807a4a91-6eef-4edb-8d8b-c4b8cafff759","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"807a4a91-6eef-4edb-8d8b-c4b8cafff759","meta":{"card":null,"mac":null,"created":"2017-03-02T23:29:53.306059Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-02T23:29:53.306059Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Thu, 02 Mar 2017 23:29:53 GMT
[...]
- request:
    method: post
    uri: https://api.helium.com/v1/label/b11f6a64-27d3-4669-aa72-e67f4dec4057/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"807a4a91-6eef-4edb-8d8b-c4b8cafff759","type":"sensor"},{"id":"67dbd91f-3b5c-49f6-90da-453808492c45","type":"sensor"}]}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"67dbd91f-3b5c-49f6-90da-453808492c45","type":"sensor"},{"id":"807a4a91-6eef-4edb-8d8b-c4b8cafff759","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/b11f6a64-27d3-4669-aa72-e67f4dec4057/relationships/sensor
  recorded_at: Thu, 02 Mar 2017 23:29:53 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/b11f6a64-27d3-4669-aa72-e67f4dec4057/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - firm pat on the back
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Test Sensor A"},"id":"807a4a91-6eef-4edb-8d8b-c4b8cafff759","meta":{"card":null,"mac":null,"created":"2017-03-02T23:29:53.306059Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-02T23:29:53.306059Z"},"type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/b11f6a64-27d3-4669-aa72-e67f4dec4057/sensor
  recorded_at: Thu, 02 Mar 2017 23:29:53 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/b11f6a64-27d3-4669-aa72-e67f4dec4057
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/b11f6a64-27d3-4669-aa72-e67f4dec4057
  recorded_at: Thu, 02 Mar 2017 23:29:53 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/807a4a91-6eef-4edb-8d8b-c4b8cafff759
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/807a4a91-6eef-4edb-8d8b-c4b8cafff759
  recorded_at: Thu, 02 Mar 2017 23:29:53 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/67dbd91f-3b5c-49f6-90da-453808492c45
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/67dbd91f-3b5c-49f6-90da-453808492c45
  recorded_at: Thu, 02 Mar 2017 23:29:53 GMT
recorded_with: VCR 3.0.3
