---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/label/ae771993-1307-42b6-aa02-1c0ccc0aa4b0"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"ae771993-1307-42b6-aa02-1c0ccc0aa4b0","type":"metadata"}},"sensor":{"data":[]},"element":{"data":[]}},"id":"ae771993-1307-42b6-aa02-1c0ccc0aa4b0","meta":{"created":"2017-03-02T23:29:53.943965Z","updated":"2017-03-02T23:29:53.943965Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Thu, 02 Mar 2017 23:29:53 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/c6a1f66d-7a9b-410f-aff1-25cbc02aa407"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"c6a1f66d-7a9b-410f-aff1-25cbc02aa407","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"c6a1f66d-7a9b-410f-aff1-25cbc02aa407","meta":{"card":null,"mac":null,"created":"2017-03-02T23:29:54.010042Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-02T23:29:54.010042Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Thu, 02 Mar 2017 23:29:54 GMT
[...]
- request:
    method: post
    uri: https://api.helium.com/v1/label/ae771993-1307-42b6-aa02-1c0ccc0aa4b0/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"c6a1f66d-7a9b-410f-aff1-25cbc02aa407","type":"sensor"},{"id":"d12739a7-4f31-47c3-9344-ef3a7de4963e","type":"sensor"},{"id":"6568e14f-70cd-446d-989b-554c02a84953","type":"sensor"}]}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6568e14f-70cd-446d-989b-554c02a84953","type":"sensor"},{"id":"c6a1f66d-7a9b-410f-aff1-25cbc02aa407","type":"sensor"},{"id":"d12739a7-4f31-47c3-9344-ef3a7de4963e","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/ae771993-1307-42b6-aa02-1c0ccc0aa4b0/relationships/sensor
  recorded_at: Thu, 02 Mar 2017 23:29:54 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/ae771993-1307-42b6-aa02-1c0ccc0aa4b0/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Test Sensor A"},"id":"c6a1f66d-7a9b-410f-aff1-25cbc02aa407","meta":{"card":null,"mac":null,"created":"2017-03-02T23:29:54.010042Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-02T23:29:54.010042Z"},"type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/ae771993-1307-42b6-aa02-1c0ccc0aa4b0/sensor
  recorded_at: Thu, 02 Mar 2017 23:29:56 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/ae771993-1307-42b6-aa02-1c0ccc0aa4b0
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/ae771993-1307-42b6-aa02-1c0ccc0aa4b0
  recorded_at: Thu, 02 Mar 2017 23:29:56 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/c6a1f66d-7a9b-410f-aff1-25cbc02aa407
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - javascript doesn't have integers
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/c6a1f66d-7a9b-410f-aff1-25cbc02aa407
  recorded_at: Thu, 02 Mar 2017 23:29:56 GMT
[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/6568e14f-70cd-446d-989b-554c02a84953
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - "$300,000 worth of cows"
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/6568e14f-70cd-446d-989b-554c02a84953
  recorded_at: Thu, 02 Mar 2017 23:29:56 GMT
recorded_with: VCR 3.0.3
