---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - evacuation not done in time
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/label/2f087e01-ed5b-4787-be19-b878138f55ce"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"2f087e01-ed5b-4787-be19-b878138f55ce","type":"metadata"}},"sensor":{"data":[]},"element":{"data":[]}},"id":"2f087e01-ed5b-4787-be19-b878138f55ce","meta":{"created":"2017-03-03T00:53:09.459359Z","updated":"2017-03-03T00:53:09.459359Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Fri, 03 Mar 2017 00:53:09 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/72ee841f-cc40-4b5d-b84b-2cf67028f00e"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"72ee841f-cc40-4b5d-b84b-2cf67028f00e","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"72ee841f-cc40-4b5d-b84b-2cf67028f00e","meta":{"card":null,"mac":null,"created":"2017-03-03T00:53:09.529529Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-03T00:53:09.529529Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Fri, 03 Mar 2017 00:53:09 GMT
[...]
- request:
    method: post
    uri: https://api.helium.com/v1/label/2f087e01-ed5b-4787-be19-b878138f55ce/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"72ee841f-cc40-4b5d-b84b-2cf67028f00e","type":"sensor"}]}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - never breaks eye contact
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"72ee841f-cc40-4b5d-b84b-2cf67028f00e","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/2f087e01-ed5b-4787-be19-b878138f55ce/relationships/sensor
  recorded_at: Fri, 03 Mar 2017 00:53:09 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/2f087e01-ed5b-4787-be19-b878138f55ce/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Test Sensor B"},"id":"824b825e-1c6d-4280-a13f-814d5bcf2eac","meta":{"card":null,"mac":null,"created":"2017-03-03T00:53:09.606447Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-03T00:53:09.606447Z"},"type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/2f087e01-ed5b-4787-be19-b878138f55ce/sensor
  recorded_at: Fri, 03 Mar 2017 00:53:09 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/2f087e01-ed5b-4787-be19-b878138f55ce
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/2f087e01-ed5b-4787-be19-b878138f55ce
  recorded_at: Fri, 03 Mar 2017 00:53:10 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/72ee841f-cc40-4b5d-b84b-2cf67028f00e
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - firm pat on the back
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/72ee841f-cc40-4b5d-b84b-2cf67028f00e
  recorded_at: Fri, 03 Mar 2017 00:53:10 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/824b825e-1c6d-4280-a13f-814d5bcf2eac
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/824b825e-1c6d-4280-a13f-814d5bcf2eac
  recorded_at: Fri, 03 Mar 2017 00:53:10 GMT
recorded_with: VCR 3.0.3
