---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - evacuation not done in time
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/label/14bc1cf7-f537-4a69-8f37-d201a7f1b5b1"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"14bc1cf7-f537-4a69-8f37-d201a7f1b5b1","type":"metadata"}},"sensor":{"data":[]},"element":{"data":[]}},"id":"14bc1cf7-f537-4a69-8f37-d201a7f1b5b1","meta":{"created":"2017-03-03T00:53:10.299563Z","updated":"2017-03-03T00:53:10.299563Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Fri, 03 Mar 2017 00:53:10 GMT
- request:
    method: post
    uri: https://api.helium.com/v1/sensor
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"type":"sensor"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/sensor/40b91c24-7fe1-4127-bcb7-af8a28026bd7"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"Test Sensor A"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"40b91c24-7fe1-4127-bcb7-af8a28026bd7","type":"metadata"}},"element":{"data":null},"label":{"data":[]}},"id":"40b91c24-7fe1-4127-bcb7-af8a28026bd7","meta":{"card":null,"mac":null,"created":"2017-03-03T00:53:10.364677Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-03T00:53:10.364677Z"},"type":"sensor"}}'
      effective_url: https://api.helium.com/v1/sensor
  recorded_at: Fri, 03 Mar 2017 00:53:10 GMT
[...]
- request:
    method: post
    uri: https://api.helium.com/v1/label/14bc1cf7-f537-4a69-8f37-d201a7f1b5b1/relationships/sensor
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"40b91c24-7fe1-4127-bcb7-af8a28026bd7","type":"sensor"}]}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - javascript doesn't have integers
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"40b91c24-7fe1-4127-bcb7-af8a28026bd7","type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/14bc1cf7-f537-4a69-8f37-d201a7f1b5b1/relationships/sensor
  recorded_at: Fri, 03 Mar 2017 00:53:10 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/14bc1cf7-f537-4a69-8f37-d201a7f1b5b1/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Test Sensor C"},"id":"33de0b74-1e8f-4641-9ee7-e19004e0aec6","meta":{"card":null,"mac":null,"created":"2017-03-03T00:53:10.518454Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-03T00:53:10.518454Z"},"type":"sensor"},{"attributes":{"name":"Test
        Sensor B"},"id":"b45a2846-a53f-4abf-b494-74ddd460f729","meta":{"card":null,"mac":null,"created":"2017-03-03T00:53:10.452505Z","last-seen":null,"ports":[],"device-type":null,"updated":"2017-03-03T00:53:10.452505Z"},"type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/14bc1cf7-f537-4a69-8f37-d201a7f1b5b1/sensor
  recorded_at: Fri, 03 Mar 2017 00:53:10 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/label/14bc1cf7-f537-4a69-8f37-d201a7f1b5b1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/14bc1cf7-f537-4a69-8f37-d201a7f1b5b1
  recorded_at: Fri, 03 Mar 2017 00:53:10 GMT
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/40b91c24-7fe1-4127-bcb7-af8a28026bd7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - sharkfed
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/40b91c24-7fe1-4127-bcb7-af8a28026bd7
  recorded_at: Fri, 03 Mar 2017 00:53:10 GMT
[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/sensor/33de0b74-1e8f-4641-9ee7-e19004e0aec6
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - never breaks eye contact
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/sensor/33de0b74-1e8f-4641-9ee7-e19004e0aec6
  recorded_at: Fri, 03 Mar 2017 00:53:11 GMT
recorded_with: VCR 3.0.3
