---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Content-Type:
      - application/json;charset=utf8
      Location:
      - "/v1/label/9277cbad-c1b6-40fc-baee-68ca1abeeda9"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"9277cbad-c1b6-40fc-baee-68ca1abeeda9","type":"metadata"}},"sensor":{"data":[]},"element":{"data":[]}},"id":"9277cbad-c1b6-40fc-baee-68ca1abeeda9","meta":{"created":"2017-04-04T19:36:51.110061Z","updated":"2017-04-04T19:36:51.110061Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Tue, 04 Apr 2017 19:36:51 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/element
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Eric Compound"},"relationships":{"device-configuration":{"data":[{"id":"03e00386-1099-44c2-977a-7220f71638e5","type":"device-configuration"}]},"metadata":{"data":{"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","type":"metadata"}},"sensor":{"data":[]},"label":{"data":[{"id":"4b8bbb4c-4a35-4a3e-8f49-7df6be9b7368","type":"label"},{"id":"2844d419-2b41-4146-883e-b74cb7bf8e19","type":"label"},{"id":"d4cea726-bc4a-4d9e-bccb-fe16048475f3","type":"label"},{"id":"4d712b91-5056-4975-8ed5-25ec7377e3d2","type":"label"},{"id":"76e9f77e-3202-48e6-bd4b-1202b6973aa7","type":"label"},{"id":"efdd124b-b45c-41c2-8f18-240866e03ef2","type":"label"},{"id":"4dfa334e-93e3-4ea2-a003-a4ef89f0d14d","type":"label"},{"id":"488fd9b8-cc2c-41c7-9b70-c8d895dad73d","type":"label"},{"id":"1d4051ef-93d9-4a86-96ee-5ea254127273","type":"label"},{"id":"5587edb5-1b2a-4a58-a9a5-46e750d3c731","type":"label"},{"id":"7cd3cfc0-053a-4923-9aaf-d220f818af5a","type":"label"},{"id":"f45d81d7-da6f-41c3-aa1e-9b05a4634628","type":"label"},{"id":"a0155f49-9df5-4a63-a967-47df8902d413","type":"label"},{"id":"3c9e0e1e-3286-4683-98dd-4e85cc08d881","type":"label"},{"id":"ae0da464-83d7-4a79-9baf-789a4ad4832a","type":"label"},{"id":"84371177-a06f-4ae7-91ae-77929e8fb213","type":"label"}]}},"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","meta":{"connected":true,"mac":"6081f9fffe000e59","created":"2016-12-23T21:55:12.967624Z","sim":null,"last-seen":"2016-12-26T02:43:09.409224Z","device-type":null,"updated":"2017-03-22T12:03:44.89603Z"},"type":"element"},{"attributes":{"name":"Marc
        Home"},"relationships":{"device-configuration":{"data":[]},"metadata":{"data":{"id":"6fa2f914-450e-447a-8aa3-0e277cda9690","type":"metadata"}},"sensor":{"data":[]},"label":{"data":[{"id":"4b8bbb4c-4a35-4a3e-8f49-7df6be9b7368","type":"label"},{"id":"2844d419-2b41-4146-883e-b74cb7bf8e19","type":"label"},{"id":"d4cea726-bc4a-4d9e-bccb-fe16048475f3","type":"label"},{"id":"4d712b91-5056-4975-8ed5-25ec73[...]
[...]
- request:
    method: post
    uri: https://api.helium.com/v1/label/9277cbad-c1b6-40fc-baee-68ca1abeeda9/relationships/element
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","type":"element"}]}'
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - never breaks eye contact
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11,o20,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"69f353f0-7c3d-4e7f-ad81-201f8ff8d810","type":"element"}]}'
      effective_url: https://api.helium.com/v1/label/9277cbad-c1b6-40fc-baee-68ca1abeeda9/relationships/element
  recorded_at: Tue, 04 Apr 2017 19:36:51 GMT
[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/9277cbad-c1b6-40fc-baee-68ca1abeeda9/element
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - firm pat on the back
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,[...]
- request:
    method: delete
    uri: https://api.helium.com/v1/label/9277cbad-c1b6-40fc-baee-68ca1abeeda9
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Airship-Quip:
      - blame me if inappropriate
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,m20,o20
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://api.helium.com/v1/label/9277cbad-c1b6-40fc-baee-68ca1abeeda9
  recorded_at: Tue, 04 Apr 2017 19:36:51 GMT
recorded_with: VCR 3.0.3
