---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - RB_GC_GUARD
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Amir''s Sensors"},"relationships":{"metadata":{"data":{"id":"27d45c9a-a800-4123-abb0-b03ad7241ccf","type":"metadata"}},"sensor":{"data":[{"id":"a1d18f88-819b-4044-9cdd-2a9278d5ed65","type":"sensor"},{"id":"28ea925a-c7d1-43c1-993c-50b9a4c86d0a","type":"sensor"}]},"element":{"data":[]}},"id":"27d45c9a-a800-4123-abb0-b03ad7241ccf","meta":{"created":"2017-03-14T17:25:56.426201Z","updated":"2017-03-14T17:25:56.426201Z"},"type":"label"},{"attributes":{"name":"A
        really really long label name to test with"},"relationships":{"metadata":{"data":{"id":"5265064b-1296-41a0-9ba9-be07b1d22855","type":"metadata"}},"sensor":{"data":[{"id":"11b5a9e9-e098-4d57-9c10-ddb08f81ecfa","type":"sensor"}]},"element":{"data":[]}},"id":"5265064b-1296-41a0-9ba9-be07b1d22855","meta":{"created":"2017-03-22T17:08:10.807794Z","updated":"2017-03-22T17:08:10.807794Z"},"type":"label"},{"attributes":{"name[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/801891e3-551b-4e78-852f-bef5a2618d3d/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<API KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - shut it down
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json;charset=utf8
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"weather-94945"},"id":"11b5a9e9-e098-4d57-9c10-ddb08f81ecfa","meta":{"card":null,"mac":null,"created":"2016-12-14T22:13:48.883309Z","last-seen":"2017-04-03T21:37:15.538126Z","ports":["t","h","p","test","X"],"device-type":null,"updated":"2017-03-22T09:47:54.490799Z"},"type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/801891e3-551b-4e78-852f-bef5a2618d3d/sensor
  recorded_at: Mon, 03 Apr 2017 21:38:20 GMT
recorded_with: VCR 3.0.3
