---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - "$300,000 worth of cows"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"The Isotopes"},"id":"d85ae875-1d02-4ed1-84f3-c5949bcda1d9","meta":{"created":"2016-03-04T16:14:16.090864Z","updated":"2016-03-04T16:14:16.090864Z"},"type":"label"},{"attributes":{"name":"SF
        Sensors"},"id":"d81df823-a7a9-4476-b624-888f9fc56390","meta":{"created":"2016-03-04T17:45:08.084425Z","updated":"2016-06-20T15:14:29.327186Z"},"type":"label"},{"attributes":{"name":"SF
        Freezer"},"id":"d1e5ee93-14fd-44de-8a0e-77e49f451c5a","meta":{"created":"2016-03-24T23:45:04.049993Z","updated":"2016-06-20T15:15:55.980414Z"},"type":"label"},{"attributes":{"name":"C''mon
        in."},"id":"bfd8e8ff-e4b7-4561-ac7e-81178b9868d5","meta":{"created"[...]
- request:
    method: get
    uri: https://api.helium.com/v1/label/d85ae875-1d02-4ed1-84f3-c5949bcda1d9/sensor
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - sharkfed
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"Marc''s Isotope"},"id":"08bab58b-d095-4c7c-912c-1f8024d91d95","meta":{"card":null,"mac":"6081f9fffe00019b","created":"2015-08-06T17:28:11.614107Z","versions":null,"last-seen":"2015-08-11T18:50:04Z","ports":["b","t"],"updated":"2016-05-30T22:36:50.810716Z"},"type":"sensor"},{"attributes":{"name":"John
        Isotope"},"id":"51f3564d-bfb9-4b77-b868-fa83f1de2f39","meta":{"card":null,"mac":"6081f9fffe000177","created":"2015-08-06T23:39:35.05194Z","versions":null,"last-seen":"2015-10-07T17:15:04Z","ports":["b","t"],"updated":"2015-08-06T23:39:35.05201Z"},"type":"sensor"},{"attributes":{"name":"RF''s
        Isotope"},"id":"66ae4160-64a2-41d9-bbe0-891b70e71b1e","meta":{"card":{"id":255},"mac":"6081f9fffe000675","created":"2015-11-03T17:00:10.135173Z","versions":{"sensor-script":[{"version":"37d26a13e081ace2"},{"version":"ffffffffffffffff"},{"version":"ffffffffffffffff"},{"version":"ffffffffffffffff"},{"version":"ffffffffffffffff"},{"version":"ffffffffffffffff"},{"version":"ffffffffffffffff"}],"atom":"2050b00","sensor-config":"a01bd416372f4982","sensor-library":"5deb1dc079f5e352","sensor":"4020200"},"last-seen":"2016-06-01T16:56:17.297082Z","ports":["_se","b","d","t"],"updated":"2015-11-03T17:00:10.114371Z"},"type":"sensor"}]}'
      effective_url: https://api.helium.com/v1/label/d85ae875-1d02-4ed1-84f3-c5949bcda1d9/sensor
  recorded_at: Mon, 22 Aug 2016 17:21:24 GMT
recorded_with: VCR 3.0.3
