---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/label/d85ae875-1d02-4ed1-84f3-c5949bcda1d9
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - never breaks eye contact
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"The Isotopes"},"relationships":{"metadata":{"data":{"id":"d85ae875-1d02-4ed1-84f3-c5949bcda1d9","type":"metadata"}},"sensor":{"data":[{"id":"08bab58b-d095-4c7c-912c-1f8024d91d95","type":"sensor"},{"id":"51f3564d-bfb9-4b77-b868-fa83f1de2f39","type":"sensor"},{"id":"66ae4160-64a2-41d9-bbe0-891b70e71b1e","type":"sensor"}]}},"id":"d85ae875-1d02-4ed1-84f3-c5949bcda1d9","meta":{"created":"2016-03-04T16:14:16.090864Z","updated":"2016-03-04T16:14:16.090864Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label/d85ae875-1d02-4ed1-84f3-c5949bcda1d9
  recorded_at: Mon, 22 Aug 2016 16:48:32 GMT
recorded_with: VCR 3.0.3
