---
http_interactions:
- request:
    method: post
    uri: https://api.helium.com/v1/label
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"type":"label"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,n11,p11
      Airship-Quip:
      - evacuation not done in time
      Content-Type:
      - application/json
      Location:
      - "/v1/label/c50fbcd2-2fa0-48ad-97de-a21769f74904"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"A Test Label"},"relationships":{"metadata":{"data":{"id":"c50fbcd2-2fa0-48ad-97de-a21769f74904","type":"metadata"}},"sensor":{"data":[]}},"id":"c50fbcd2-2fa0-48ad-97de-a21769f74904","meta":{"created":"2016-08-22T17:05:24.052761Z","updated":"2016-08-22T17:05:24.052761Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label
  recorded_at: Mon, 22 Aug 2016 17:05:24 GMT
- request:
    method: patch
    uri: https://api.helium.com/v1/label/c50fbcd2-2fa0-48ad-97de-a21769f74904
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"An Updated Label"},"id":"c50fbcd2-2fa0-48ad-97de-a21769f74904","type":"label"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o20,o18
      Airship-Quip:
      - 'WARNING: ulimit -n is 1024'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"An Updated Label"},"id":"c50fbcd2-2fa0-48ad-97de-a21769f74904","meta":{"created":"2016-08-22T17:05:24.052761Z","updated":"2016-08-22T17:05:24.052761Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label/c50fbcd2-2fa0-48ad-97de-a21769f74904
  recorded_at: Mon, 22 Aug 2016 17:05:25 GMT
- request:
    method: get
    uri: https://api.helium.com/v1/label/c50fbcd2-2fa0-48ad-97de-a21769f74904
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - firm pat on the back
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"An Updated Label"},"relationships":{"metadata":{"data":{"id":"c50fbcd2-2fa0-48ad-97de-a21769f74904","type":"metadata"}},"sensor":{"data":[]}},"id":"c50fbcd2-2fa0-48ad-97de-a21769f74904","meta":{"created":"2016-08-22T17:05:24.052761Z","updated":"2016-08-22T17:05:24.160823Z"},"type":"label"}}'
      effective_url: https://api.helium.com/v1/label/c50fbcd2-2fa0-48ad-97de-a21769f74904
  recorded_at: Mon, 22 Aug 2016 17:05:25 GMT
recorded_with: VCR 3.0.3
