---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - <API KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - javascript doesn't have integers
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"name":"HeliumDevAccount Demo"},"id":"dev-accounts@helium.co","meta":{"email":"dev-accounts@helium.co","created":"2014-10-29T21:38:52Z","updated":"2015-08-06T18:21:32.186374Z"},"type":"user"}}'
      effective_url: https://api.helium.com/v1/user
  recorded_at: Thu, 04 Aug 2016 22:07:12 GMT
recorded_with: VCR 3.0.3
