---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/sensor?include=label
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Airship-Quip:
      - "$300,000 worth of cows"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{"name":"John''s Development Isotope with a
        Brick1"},"relationships":{"element":{"data":null},"label":{"data":[{"id":"968cc881-737e-4bff-bdd6-2af45992fe86","type":"label"}]}},"id":"01d53511-228d-4530-8eaf-74d43c17baa8","meta":{"card":{"id":2},"mac":"6081f9fffe000790","created":"2016-03-29T23:41:29.994176Z","last-seen":"2016-05-17T00:08:57.716681Z","ports":["_b","_se","b","d","h","l","m","p","t"],"updated":"2016-03-29T23:41:29.994404Z"},"type":"sensor"},{"attributes":{"name":"Marc''s
        Isotope"},"relationships":{"element":{"data":null},"label":{"data":[{"id":"22c53f67-2c60-41ba-b5b6-ec36362ed1a6","type":"label"},{"id":"bfd8e8ff-e4b7-4561-ac7e-81178b9868d5","type":"label"},{"id":"d85ae875-1d02-4ed1-84f3-c5949bcda1d9","type":"label"},{"id":"d81df823-a7a9-4476-b624-888f9fc56390","type":"label"}]}},"id":"08bab58b-d095-4c7c-912c-1f8024d91d95","meta":{"card":null,"mac":"6081f9fffe00019b","created"[...]
