---
http_interactions:
- request:
    method: get
    uri: https://api.helium.com/v1/device-configuration
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Airship-Quip:
      - "$300,000 worth of cows"
      Airship-Trace:
      - b13,b12,b11,b10,b09,b08,b07,b06,b05,b04,b03,c03,c04,d04,e05,f06,g07,g08,h10,i12,l13,m16,n16,o16,o17,o18
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"attributes":{},"relationships":{"device":{"data":{"id":"d89ed12c-c7bb-4205-a48a-9fe59c96c459","type":"element"}},"configuration":{"data":{"id":"b9dc998e-1926-42ad-a3e0-ba36eea55b45","type":"configuration"}}},"id":"605f7acd-ca93-42e1-8041-eff548db5116","meta":{"loaded":null,"created":"2016-11-09T21:37:31.377437Z"},"type":"device-configuration"},{"attributes":{},"relationships":{"device":{"data":{"id":"56618098-5145-445c-a6db-805eaf37ff51","type":"element"}},"configuration":{"data":{"id":"461b1e38-6fc2-423b-974a-ae6f504c43a1","type":"configuration"}}},"id":"85a9bbf9-0ff7-4678-b071-03342b6c7f91","meta":{"loaded":null,"created":"2016-11-18T23:18:43.576921Z"},"type":"device-configuration"},{"attributes":{},"relationships":{"device":{"data":{"id":"aba370be-837d-4b41-bee5-686b0069d874","type":"sensor"}},"configuration":{"data":{"id":"461b1e38-6fc2-423b-974a-ae6f504c43a1","type":"configuration"}}},"id":"efb8b88b-0837-42e6-91ba-18ed38d16bbe","meta":{"loaded":null,"created":"2016-11-18T23:15:57.415719Z"},"type":"device-configuration"}]}'
      effective_url: https://api.helium.com/v1/device-configuration
  recorded_at: Mon, 21 Nov 2016 16:01:48 GMT
recorded_with: VCR 3.0.3
